<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header'); -%>
  <body>
    <%- include('./partials/nav'); -%>
    <h3>About</h3>
    <div class="form-floating mb-3">
      <p>
        Standing on one's head at job interviews forms a lasting impression. He
        went on a whiskey diet and immediately lost three days. I really want to
        go to work, but I am too sick to drive. He loved eating his bananas in
        hot dog buns. He kept telling himself that one day it would all somehow
        make sense. On a scale from one to ten, what's your favorite flavor of
        random grammar? The manager of the fruit stand always sat and only sold
        vegetables. He had a wall full of masks so she could wear a different
        face every day.
      </p>
    </div>

    <%- include('./partials/footer'); -%>
  </body>
</html>
